**/node_modules/
package-lock.json
build/
# Dist files
OpusMediaRecorder.js
OpusMediaRecorder.umd.js
encoderWorker.js
encoderWorker.umd.js
OggOpusEncoder.js
OggOpusEncoder.wasm
OggOpusEncoder.bin
WebMOpusEncoder.js
WebMOpusEncoder.wasm
WebMOpusEncoder.bin
WaveEncoder.js
commonFunctions.js
# Output files in example
example/*/app.js
example/*/*.worker.js
example/*/*.wasm


# WebIDL parsing files
WebIDLGrammar.pkl
parser.out
