[submodule "lib/opus"]
	path = lib/opus
	url = https://git.xiph.org/opus.git
[submodule "lib/ogg"]
	path = lib/ogg
	url = https://git.xiph.org/ogg.git
[submodule "lib/speexdsp"]
	path = lib/speexdsp
	url = https://git.xiph.org/speexdsp.git
